body {
  font-family: "Roboto", "Poppins", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  background-color: #fafafa;
  line-height: 1.5;
  font-weight: 400;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.logo:hover,
.logo:focus {
  color: #18ffff;
}

.nav {
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #18ffff;
}

.list {
  list-style: none;
}

.page-title-section {
  background-color: #2e2f42;
}

.page-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
}
.button:hover,
.button:focus {
  color: #18ffff;
}

.team-section {
  background-color: #f4f4fd;
}

.sec-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
}

.sub-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.text {
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer .logo-span {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
}
